---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";

const contactIndex = await getListPage("pages", "contact");
const { contact_form_action }: { contact_form_action: string } = config.params;
const data = contactIndex.data;
if (!("name_label" in data)) throw new Error("Expected contact page schema");
const {
  title,
  description,
  meta_title,
  image,
  name_label,
  email_label,
  message_label,
  submit_label,
} = data;

if (data.draft) {
  return Astro.redirect("/404");
}
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <form action={contact_form_action} method="POST">
            <div class="mb-6">
              <label for="name" class="form-label">
                <span data-editable="text" data-prop="name_label">{name_label}</span>
                <span class="text-red-500">*</span>
              </label>
              <input
                id="name"
                name="name"
                class="form-input"
                placeholder="John Doe"
                type="text"
                required
              />
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">
                <span data-editable="text" data-prop="email_label">{email_label}</span>
                <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                placeholder="john.doe@email.com"
                type="email"
                required
              />
            </div>
            <div class="mb-6">
              <label for="message" class="form-label">
                <span data-editable="text" data-prop="message_label">{message_label}</span>
                <span class="text-red-500">*</span>
              </label>
              <textarea
                id="message"
                name="message"
                class="form-input"
                placeholder="Message goes here..."
                required
                rows="8"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
              <span data-editable="text" data-prop="submit_label">{submit_label}</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
