---
import { Image } from 'astro:assets'

interface Props {
  src1: string
  alt1?: string
  src2: string
  alt2?: string
  src3: string
  alt3?: string
  src4: string
  alt4?: string
}

const { src1, alt1 = '', src2, alt2 = '', src3, alt3 = '', src4, alt4 = '' } = Astro.props
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
  <Image src={src1} alt={alt1} width={1200} height={600} class="h-[250px] w-full rounded-lg object-cover" />
  <Image src={src2} alt={alt2} width={1200} height={600} class="h-[250px] w-full rounded-lg object-cover" />
  <Image src={src3} alt={alt3} width={1200} height={600} class="h-[250px] w-full rounded-lg object-cover" />
  <Image src={src4} alt={alt4} width={1200} height={600} class="h-[250px] w-full rounded-lg object-cover" />
</div>
