---
import { type StoreSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends StoreSchema {}

const {
  title,
  description,
  updatedDate,
  heroImage,
  pricing,
  oldPricing,
  checkoutUrl,
  badge,
  custom_link,
  custom_link_label,
} = Astro.props;

dayjs.extend(localizedFormat);
const displayDate = dayjs(updatedDate).format("ll");
import { Image } from "astro:assets";
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {heroImage && (
        <div data-editable="image" data-prop-src="heroImage">
          <Image width={750} height={422} format="webp" src={heroImage} alt={title} class="w-full mb-6" />
        </div>
      )}
      <div class="">
        <h1 class="title my-2 text-4xl font-bold">
          <span data-editable="text" data-prop="title">{title}</span>
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <div class="flex place-content-between items-center">
          <div class="grow md:grow-0">
            <span class="text-xl mr-1" data-editable="text" data-prop="pricing">{pricing}</span>
            {oldPricing && <span class="text-md opacity-50 line-through" data-editable="text" data-prop="oldPricing">{oldPricing}</span>}
          </div>
          <div>
            {
              custom_link && (
                <a class="btn btn-outline grow md:grow-0 ml-4" href={custom_link} target="_blank">
                  <span data-editable="text" data-prop="custom_link_label">{custom_link_label}</span>
                </a>
              )
            }
            <a class="btn btn-primary grow md:grow-0 ml-4" href={checkoutUrl} target="_blank">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="divider my-2"></div>
      <div data-editable="text" data-type="block" data-prop="@content">
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>
