---
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  image: string;
  image_alt?: string;
  buttons: Array<{
    label: string;
    link: string;
    style?: string;
    icon?: string;
  }>;
}

const { title, description, image, image_alt, buttons } = Astro.props;
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <div data-editable="image" data-prop-src="image">
      <img
        src={image}
        alt={image_alt || ""}
        width="620"
        height="620"
        loading="eager"
      />
    </div>
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
      data-editable="text"
      data-prop="title">
      {title}
    </h1>
    <p
      class="text-lg mt-4 text-slate-600 max-w-xl"
      data-editable="text"
      data-prop="description">
      {description}
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      {
        buttons.map((button) => (
          <Link
            href={button.link}
            target="_blank"
            class="flex gap-1 items-center justify-center"
            rel="noopener"
            style={button.style === "outline" ? "outline" : "primary"}
            size="lg">
            {button.icon && (
              <Icon
                class={`w-5 h-5 ${button.style === "outline" ? "text-black" : "text-white"}`}
                name={button.icon}
              />
            )}
            {button.label}
          </Link>
        ))
      }
    </div>
  </div>
</main>
