---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { getEntry } from "astro:content";

const page = await getEntry("pages", "cv");
const data = page.data;
---

<BaseLayout title={data.title} sideBarActiveItemID={data.sidebar_id || "cv"}>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  {data.profile && (
    <div class="mb-10 text-justify" data-editable="text" data-type="block" data-prop="profile">
      {data.profile}
    </div>
  )}

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10" data-editable="array" data-prop="education">
    {data.education.map((entry) => (
      <div data-editable="array-item">
        <TimeLineElement
          title={entry.title}
          subtitle={entry.subtitle}
        />
      </div>
    ))}
    <template>
      <div data-editable="array-item">
        <div class="flex">
          <div class="education__time">
            <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
            <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
          </div>
          <div class="experience__data bd-grid px-5">
            <h3 class="font-semibold mb-1" data-editable="text" data-prop="title"></h3>
            <span class="font-light text-sm" data-editable="text" data-prop="subtitle"></span>
          </div>
        </div>
      </div>
    </template>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10" data-editable="array" data-prop="experience">
    {data.experience.map((entry) => (
      <div data-editable="array-item">
        <TimeLineElement
          title={entry.title}
          subtitle={entry.subtitle}
          description={entry.description}
        />
      </div>
    ))}
    <template>
      <div data-editable="array-item">
        <div class="flex">
          <div class="education__time">
            <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
            <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
          </div>
          <div class="experience__data bd-grid px-5">
            <h3 class="font-semibold mb-1" data-editable="text" data-prop="title"></h3>
            <span class="font-light text-sm" data-editable="text" data-prop="subtitle"></span>
            <p class="my-2 text-justify" data-editable="text" data-prop="description"></p>
          </div>
        </div>
      </div>
    </template>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2" data-editable="array" data-prop="certifications">
    {data.certifications.map((cert) => (
      <li data-editable="array-item">
        <a href={cert.url || "#"} target="_blank">
          <span data-editable="text" data-prop="text">{cert.text}</span>
        </a>
      </li>
    ))}
    <template>
      <li data-editable="array-item">
        <a href="#" target="_blank">
          <span data-editable="text" data-prop="text"></span>
        </a>
      </li>
    </template>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6" data-editable="array" data-prop="skills">
    {data.skills.map((skill) => (
      <li data-editable="array-item"><span data-editable="text" data-prop="">{skill}</span></li>
    ))}
    <template>
      <li data-editable="array-item"><span data-editable="text" data-prop=""></span></li>
    </template>
  </ul>
</BaseLayout>
