---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { getEntry } from "astro:content";

const page = await getEntry("pages", "cv");
const data = page.data;
---

<BaseLayout title={data.title} sideBarActiveItemID={data.sidebar_id || "cv"}>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  {data.profile && (
    <div class="mb-10 text-justify" data-editable="text" data-type="block" data-prop="profile">
      {data.profile}
    </div>
  )}

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10" data-editable="array" data-prop="education">
    {data.education.map((entry) => (
      <div data-editable="array-item">
        <TimeLineElement
          title={entry.title}
          subtitle={entry.subtitle}
        />
      </div>
    ))}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10" data-editable="array" data-prop="experience">
    {data.experience.map((entry) => (
      <div data-editable="array-item">
        <TimeLineElement
          title={entry.title}
          subtitle={entry.subtitle}
        >
          {entry.description}
        </TimeLineElement>
      </div>
    ))}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2" data-editable="array" data-prop="certifications">
    {data.certifications.map((cert) => (
      <li data-editable="array-item">
        <a href={cert.url || "#"} target="_blank">
          <span data-editable="text" data-prop="text">{cert.text}</span>
        </a>
      </li>
    ))}
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6" data-editable="array" data-prop="skills">
    {data.skills.map((skill) => (
      <li data-editable="array-item"><span data-editable="text" data-prop="">{skill}</span></li>
    ))}
  </ul>
</BaseLayout>
