---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection, getEntry } from "astro:content";
import createSlug from "../lib/createSlug"

const page = await getEntry("pages", "index");
const data = page.data;
const hero = data.hero;

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, data.blog_posts_count || 3);
---

<BaseLayout sideBarActiveItemID={data.sidebar_id || "home"}>
  <div class="pb-12 mt-5">
    {hero.greeting && <div class="text-xl py-1" data-editable="text" data-prop="hero.greeting">{hero.greeting}</div>}
    {hero.name && <div class="text-5xl font-bold" data-editable="text" data-prop="hero.name">{hero.name}</div>}
    {hero.tagline && <div class="text-3xl py-3 font-bold" data-editable="text" data-prop="hero.tagline">{hero.tagline}</div>}
    {hero.description && (
      <div class="py-2">
        <div class="text-lg" data-editable="text" data-type="block" data-prop="hero.description" set:html={hero.description} />
      </div>
    )}
    <div class="mt-8">
      {hero.buttons.map((button) => (
        <a
          class={`btn ${button.variant === "outline" ? "btn-outline ml-5" : ""}`}
          href={button.url}
          target={button.target}
        >
          {button.text}
        </a>
      ))}
    </div>
  </div>

  <div>
    {data.projects_heading && <div class="text-3xl w-full font-bold mb-2" data-editable="text" data-prop="projects_heading">{data.projects_heading}</div>}
  </div>

  <div data-editable="array" data-prop="items">
    {data.items.map((item, i) => (
      <div data-editable="array-item">
        <HorizontalCard
          title={item.title}
          img={item.img}
          desc={item.desc}
          url={item.url}
          badge={item.badge}
        />
        {i < data.items.length - 1 && <div class="divider my-0" />}
      </div>
    ))}
  </div>

  <div>
    {data.blog_heading && <div class="text-3xl w-full font-bold mb-5 mt-10" data-editable="text" data-prop="blog_heading">{data.blog_heading}</div>}
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + (post.data.permalink || createSlug(post.data.title, post.slug))}
          target="_self"
          badge={post.data.badge}
          editable={false}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
