---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import SocialShares from '@components/SocialShares.astro'
import { Heading } from 'accessible-astro-components'
import { getCollection, render } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { getTeamMember } from '@utils/team'

export async function getStaticPaths() {
  const posts = await getCollection('blog')

  const postImages = [
    '/posts/post-image-1.png',
    '/posts/post-image-2.png',
    '/posts/post-image-3.png',
    '/posts/post-image-4.png',
    '/posts/post-image-5.png',
    '/posts/post-image-6.png',
  ]

  return posts.map((post, index) => ({
    params: { post: post.id },
    props: {
      post,
      featuredImage: postImages[index % postImages.length],
    },
  }))
}

interface Props {
  post: CollectionEntry<'blog'>
  featuredImage: string
}

const { post, featuredImage } = Astro.props
const { Content } = await render(post)

const teamMember = post.data.author ? getTeamMember(post.data.author) : undefined
const author = teamMember
  ? { name: teamMember.name, image: teamMember.image ?? '/posts/post-image-1.png', bio: teamMember.bio ?? teamMember.role }
  : post.data.author
    ? { name: post.data.author, image: '/posts/post-image-1.png', bio: 'Author' }
    : undefined
---

<DefaultLayout title={post.data.title} description={post.data.description ?? ''} url={`/blog/${post.id}`}>
  <PageHeader
    title={post.data.title}
    subtitle={post.data.description}
    author={author}
    bgType="bordered"
    featuredImage={post.data.image ?? featuredImage}
    imageProp="image"
    titleProp="title"
    subtitleProp="description"
  />
  <section class="my-12">
    <div class="narrow space-content container" data-editable="text" data-type="block" data-prop="@content">
      <Content />
    </div>
  </section>
  <section class="my-12">
    <div class="narrow space-content container">
      <Heading level="h2">Share this post</Heading>
      <p>Like this post? Share it with your friends!</p>
      <SocialShares />
    </div>
  </section>
</DefaultLayout>

<style lang="scss" is:global>
  .narrow {
    margin-inline: auto;
    max-width: 65ch;
  }
</style>
