---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";

const { title, content, button, image } = Astro.props;
---

<section class="section pt-14">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-7 md:col-9 mb-8 text-center">
        <h1
          set:html={markdownify(title)}
          class="mb-4 text-h3 lg:text-h1"
          data-editable="text"
          data-prop="title"
        />
        <p
          set:html={markdownify(content)}
          class="mb-8"
          data-editable="text"
          data-prop="content"
        />
        {
          button.enable && (
            <a
              class="btn btn-primary"
              href={button.link}
              target={button.link.startsWith("http") ? "_blank" : "_self"}
              rel="noopener"
            >
              <span data-editable="text" data-prop="button.label">
                {button.label}
              </span>
            </a>
          )
        }
      </div>
      {
        image && (
          <div class="col-12" data-editable="image" data-prop-src="image">
            <ImageMod
              src={image}
              height={380}
              width={1200}
              alt="banner"
              format="webp"
            />
          </div>
        )
      }
    </div>
  </div>
</section>
